div.display-latex {
    /* A hack to prevent weird scrollbars */
    overflow-y: hidden;
}

div.display-latex .katex {
    /* A hack to prevent weird scrollbars */
    padding-left: 0.1em;
    padding-right: 0.1em;
}

div.display-latex.horizontally-scrolling-box > * {
    margin-top: 0; /* override default margin */
    margin-bottom: 0; /* override default margin */
}

