---
/*
 * Filename: index.astro
 * License:  Creative Commons Attribution-ShareAlike 4.0 International (CC-BY-SA-4.0)
 */

import Layout from "@layouts/BaseLayout.astro";
---

<Layout
    title="AusDevs Wiki"
    description="AusDevs Wiki Homepage"
    keywords={["homepage"]}
>

<h3>Site Index</h3>

<h4>Software Development, University, and Career</h4>

<ul>
    <li><a href="/resources/data-structures-and-algorithms/">Data Structures and Algorithms Learning Resources</a></li>
    <li><a href="/resources/interviewing/">Interviewing Resources (Behavioural / System Design / Technical Interviews)</a></li>
    <li><a href="/resources/microsoft-azure-certifications/">Getting started with Microsoft Azure certifications</a></li>
    <li><a href="/job-hunting/">Job Hunting Resources</a></li>
</ul>

<h4>Miscellaneous Pages</h4>

<ul>
    <li><a href="/arcades/">Arcades</a></li>
    <li><a href="/community-directory/">Community Directory</a></li>
    <li><a href="/latex-demo/">How to render LaTeX on this wiki</a></li>
    <li><a href="/personal-finance/">Personal Finance</a></li>
</ul>

</Layout>

