---
import Layout from "@layouts/GeneralLayout.astro";

import Thoughts from "@components/Thoughts";

import {
    VenuesFactory,
} from "./_venues-factory";

import Cabinets from "./_CabinetPricingTable";

const venuesFactory = new VenuesFactory([
    {
        region: "au",
        venue: "Timezone",
        lastUpdated: "2024-02-19",
        priceTiers: [
            {realCost: 6000, creditValue: 12000}
        ],
        comment: "This pricing is only available during \"double dollar\" promotions.",
    },
    {
        region: "au",
        venue: "Koko Amusement",
        lastUpdated: "2024-02-19",
        priceTiers: [
            {realCost: 10000, creditValue: 16000}
        ],
        comment: "",
    },
    {
        region: "sydney",
        venue: "Fortress Sydney",
        lastUpdated: "2024-02-19",
        priceTiers: [
            {realCost: 10000, creditValue: 15000}
        ],
        comment: "",
    },
    {
        // helps validate that things are working correctly
        region: "this is fake don't reference this please",
        venue: "this is fake don't reference this please",
        lastUpdated: "6969-04-01",
        priceTiers: [
            {realCost: 69, creditValue: 420}
        ],
        comment: "lmao ayy",
    },
]);
const VenuesTable = venuesFactory.getVenuesTableComponent();
---

<Layout
    title="Arcades Guide"
    description="Pricing and other notes for Timezone, Koko, and other arcade locations across Australia and New Zealand!"
    keywords={[]}
>


<p><em>The data on this page is crowdsourced and may be out of date.</em></p>

<p>Each venue below has different pricing tiers. The pricing tiers chosen for this page represent typically-purchased tiers. There may be better-value tiers available at these venues though, so look into those yourself if you're looking to spend big.</p>


<h2>Sydney</h2>

<VenuesTable regions={["sydney", "au"]} />

<p>Koko also offers $200 for $340 of credit, which is about 6% cheaper than $100 for $160 of credit.</p>

<Cabinets
    region="au"
    venue="Timezone"
    venuesFactory={venuesFactory}
    cabinets={[
        {
            lastUpdated: "2024-02-19",
            cabinet: "Point Blank X (Gun Bullet X)",
            unitName: ["life", "lives"],
            unitsPerCredit: 5,
            creditCost: 240
        },
        {
            lastUpdated: "2024-02-19",
            cabinet: "Taiko no Tatsujin",
            unitName: ["song", "songs"],
            unitsPerCredit: 2,
            creditCost: 280
        },
    ]}
    comments="All pricing assumes you're using at least a Blue Elite card."
/>

<Thoughts user="simshadows" date="2024-02-19">Timezone's Taiko machines tend to feel very insensitive, meaning you have to hit harder to register a hit. It's fine for casual play, but it tires you out faster if you play harder difficulties.</Thoughts>

<Cabinets
    region="au"
    venue="Koko Amusement"
    venuesFactory={venuesFactory}
    cabinets={[
        {
            lastUpdated: "2024-02-19",
            cabinet: "Taiko no Tatsujin",
            unitName: ["song", "songs"],
            unitsPerCredit: 2,
            creditCost: 240
        },
    ]}
    comments="All pricing assumes you're using a VIP card."
/>

<Thoughts user="simshadows" date="2024-02-19">Some of the Koko 614 George St. venue's Taiko machines feel very sensitive, which is really good!</Thoughts>

<Cabinets
    region="sydney"
    venue="Fortress Sydney"
    venuesFactory={venuesFactory}
    cabinets={[
        {
            lastUpdated: "2024-02-19",
            cabinet: "Taiko no Tatsujin",
            unitName: ["song", "songs"],
            unitsPerCredit: 2,
            creditCost: 250
        },
    ]}
    comments=""
/>

<Thoughts user="simshadows" date="2024-02-19">The Fortress Taiko machines I tried feel very sensitive, which is really good!</Thoughts>


<h2>Other Locations</h2>

<em>We don't have any data on other places yet. If you find anything, let us know or send a pull request!</em>


</Layout>

